:root {
    --color-header-primary: #0095ff;
    --color-footer-primary: #ddd;
    --color-text-primary: #555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;  // https://snook.ca/archives/html_and_css/font-size-with-rem
}
body {
    color: var(--color-text-primary);

    margin: 0;
}
header,
footer,
main {
    padding: 1rem;
    font-size: 1.5rem;
}
header {
    background-color: var(--color-header-primary);

    // a comment
    & nav a {
        color: white;
        padding: .2rem 1rem;
        text-decoration: none;

        &:hover,
        &:active {
            text-decoration: underline;
        }

        &:first-of-type {
            margin-left: -1rem;
        }
    }
}
footer {
    background-color: var(--color-footer-primary);
}
